<!-- As a link -->
<nav class="navbar custom-navbar">
  <i class="fa fa-arrow-left" aria-hidden="true"></i>
      <h1 class="heading h1 mx-auto navbar-brand">MY OFFERS</h1>  
    </nav>
  
  <!-- As a heading -->
  <nav class="navbar custom-navbar2">
    <h1 class="heading h1 mx-auto navbar-brand">ICICI Bank Rubyx Visa Credit Crad</h1>  
  </nav>
  <!-- Top box start -->
  <div class="mainbox">
    <div class="box1">
      <div>
        <div class="boxitem">
          <img  class="topimage" src="../assets/image/topimage1.png" alt="#"/>
          <h1>&#8377;2,680</h1>
        </div>
        <div >
          <p class="boxitem2">TOTAL CASHBACK EARN</p>

        </div>
        
      </div>
    </div>
    <div class="box2">
      <div>
        <div class="boxitem">
          <img  class="topimage" src="../assets/image/topimage2.png" alt="#">
          <h1>Pt.6,800</h1>
        </div>
        <div >
          <p class="boxitem2">TOTAL LOYALTY POINTS</p>

        </div>
        
      </div>
      
    </div>
  </div>
  <!-- Top box ends -->
  <!-- Card Starts -->
  <div class="offercustomtext">
    <h1>Offers on Travel</h1>
  </div>
   <div class="container">
    <div class="row pt-5 m-auto">
      <div class="col-md-6 col-lg-4 pb-3 ">
        <div class="card card-custom bg-white border-white border-0">
          <div >
            <div class="ribbon-2"><h5><i class="fa fa-tag" aria-hidden="true"></i>
                DISCOUNT</h5></div>
          </div>
         
          <div class="card-custom-img" style="background-image: url(../assets/image/image1.png);"></div>
          <div class="card-custom-avatar">
            <img class="img-fluid avtar-custom" src="../assets/image/image2.png" alt="Avatar" />
          </div> 
          <div class="card-body" style="overflow-y: auto">
            <h4 class="card-title font-weight-bold">Discount : upto Rs 10,00</h4>
            <h6 class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, molestias earum autem reiciendis officia odit?</h6>
          </div> 
          <hr class="line">
          <div class="card-footer" style="background: inherit; border-color: inherit;">
            <a routerLink="infopage" class="btn btn-outline-primary">Learn More</a>
            <a routerLink="infopage" class="btn btn-primary">Claim offer</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 pb-3">
        <div class="card card-custom bg-white border-white border-0">
          <div >
            <div class="ribbon-2"><h5><i class="fa fa-tag" aria-hidden="true"></i>
                DISCOUNT</h5></div>
          </div>
          <div class="card-custom-img" style="background-image: url(../assets/image/image4.png);"></div>
          <div class="card-custom-avatar">
            <img class="img-fluid avtar-custom" src="../assets/image/image5.png" alt="Avatar" />
          </div>
          <div class="card-body" style="overflow-y: auto">
            <h4 class="card-title font-weight-bold">Discount : upto Rs 10,00</h4>
            <h6 class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, molestias earum autem
              reiciendis officia odit?</h6>
          </div>
          <hr class="line">
          <div class="card-footer" style="background: inherit; border-color: inherit;"> 
            <a routerLink="infopage" routerLinkActive="active" class="btn btn-outline-primary">Learn More</a>
            <a routerLink="infopage" class="btn btn-primary">Claim offer</a>
          </div>
        </div>
      </div>
      </div>
  </div>
  <!-- card End  -->
   <!-- second Card start -->
   <div class="offercustomtext">  
    <h1>Offers on Food</h1>
  </div>
   <div class="container">
    <div class="row pt-5 m-auto">
      <div class="col-md-6 col-lg-4 pb-3 ">
        <div class="card card-custom bg-white border-white border-0">
          <div >
            <div class="ribbon-2"><h5><i class="fa fa-tag" aria-hidden="true"></i>
                COUPON</h5></div>
          </div>
         
          <div class="card-custom-img" style="background-image: url(../assets/image/Cardimage1.png);"></div>
          <div class="card-custom-avatar">
            <img class="img-fluid avtar-custom" src="../assets/image/logo1.png" alt="Avatar" />
          </div> 
          <div class="card-body" style="overflow-y: auto">
            <h4 class="card-title font-weight-bold">Discount : upto Rs 10,00</h4>
            <h6 class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, molestias earum autem reiciendis officia odit?</h6>
          </div> 
          <hr class="line">
          <div class="card-footer" style="background: inherit; border-color: inherit;">
            <a routerLink="infopage" class="btn btn-outline-primary">Learn More</a>
            <a routerLink="infopage" class="btn btn-primary">Claim offer</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 pb-3">
        <div class="card card-custom bg-white border-white border-0">
          <div >
            <div class="ribbon-2"><h5><i class="fa fa-tag" aria-hidden="true"></i>
              COUPON</h5></div>
          </div>
          <div class="card-custom-img" style="background-image: url(../assets/image/Cardimage2.png);"></div>
          <div class="card-custom-avatar">
            <img class="img-fluid avtar-custom" src="../assets/image/logo2.png" alt="Avatar" />
          </div>
          <div class="card-body" style="overflow-y: auto">
            <h4 class="card-title font-weight-bold">Discount : upto Rs 10,00</h4>
            <h6 class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, molestias earum autem
              reiciendis officia odit?</h6>
          </div>
          <hr class="line">
          <div class="card-footer" style="background: inherit; border-color: inherit;"> 
            <a routerLink="infopage" class="btn btn-outline-primary">Learn More</a>
            <a routerLink="infopage" class="btn btn-primary">Claim offer</a>
          </div>
        </div>
      </div>
      </div>
  </div>
  <!-- Second card Ends  -->
  <!-- Footer -->
<footer class="page-footer font-small blue">

 
  <div class=" text-center py-3 " style="background-color: #2C2B2B;">
    <div class="footericon">
      <i class="fa fa-bars" aria-hidden="true"></i>
      <i class="fa fa-bell" aria-hidden="true"></i>
      <i class="fa fa-compass" aria-hidden="true"></i>
      <i class="fa fa-user" aria-hidden="true"></i>
      <i class="fa fa-cog" aria-hidden="true"></i>
    </div>
  </div>
</footer>
<!-- Footer -->
<router-outlet></router-outlet>